{% extends "bootstrap-starter.html" %}

{% block title %}Page Not Found{% endblock %}

{% block header %}
<div class="page-header">
    <h1>Page Not found <small>Sorry, but the page you were trying to view does not exist</small></h1>
</div>
{% endblock header %}
  
{% block main %}

    <div>
        <p>It looks like this was the result of either:</p>
        <ul>
            <li>a mistyped address</li>
            <li>an out-of-date link</li>
        </ul>
    </div>

    <script>
        var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
        GOOG_FIXURL_SITE = location.host;
    </script>
    <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>

{% endblock main %}
{% block scripts %}
<script>
    $('#goog-wm-sb').addClass('btn btn-primary');
</script>

{% endblock scripts %}