{% extends "bootstrap-starter.html" %}

{% block main %}
<h2>Account</h2>
<form action="{{setup_uri}}" method="post" class="well">
    <input type="hidden" name="continue" value="{{ target_url }}" />
    <div class="control-group">
        <label class="control-label" for="username">Username:</label>
        <div class="controls">
            <input required="required" type="text" name="username" value="{{ prefs.nickname }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">Email:</label>
        <div class="controls">
            <input required="true" type="email" name="email" value="{{ prefs.email }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="subscribe">Subscription:</label>
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" value="on" name="subscribe" id="subscribe" {%if prefs.subscribed_to_newsletter %}checked{% endif %} />
            Receive our newsletter
            </label>
        </div>
    </div>    
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" class="button" value="Setup" />
    </div>
</form>

{% endblock main %}
