{% extends "bootstrap-starter.html" %}

{% block header %}
  <div class="hero-unit">
    <h1>Troop 3825/825 <img src="/img/logo.jpg" height="100px" style="vertical-align: top"/></h1>
    <p>
      Building tomorrow's leaders.
    </p>
  </div>  
{% endblock %}

{% block main %}
  {% if is_testenv%}
    <div class="alert">
      <strong>ALERT</strong>: you are currently using the development environment
    </div>
  {% endif %}
  <div class="row">
    <div class="span9">
      <h2>Welcome to Chicago Boy Scouts</h2>
      <p>
        TODO: Fill me in with content! 
      </p>
    </div>
  </div>
    
  <script> 
    (function(w,d){
      Modernizr.load({load: '//connect.facebook.net/en_US/all.js#xfbml=1'});
      Modernizr.load({load: '//platform.twitter.com/widgets.js'});
      Modernizr.load({load: 'https://apis.google.com/js/plusone.js'});
    }(this,document));
  </script>  
{% endblock %}
